*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}


body{

background:#0a0f1c;
color:white;
line-height:1.6;

}


header{

background:#0d1324;
padding:15px 40px;

}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;

}


.nav-links{

display:flex;
list-style:none;
gap:25px;

}


.nav-links a{

color:white;
text-decoration:none;

}


.hero{

padding:80px 40px;

}


.hero-container{

display:flex;
align-items:center;
justify-content:space-between;
max-width:1200px;
margin:auto;

}


.hero-text{

max-width:500px;

}


.hero-text h1{

font-size:45px;
margin:10px 0;

}


.hero-text h3{

color:#00c6ff;

margin-bottom:15px;

}


.buttons{

margin-top:20px;

}


.btn{

background:#00c6ff;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:25px;
margin-right:10px;

}


.btn-outline{

border:2px solid white;
padding:10px 25px;
border-radius:25px;
text-decoration:none;
color:white;

}


.hero-image img{

width:260px;
border-radius:50%;

}


.about{

padding:80px 40px;
text-align:center;

}


.skills{

padding:80px 40px;
text-align:center;

}


.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

max-width:900px;

margin:auto;

margin-top:30px;

}


.skill{

background:#121a33;

padding:20px;

border-radius:10px;

}


.contact{

padding:80px 40px;
text-align:center;

}


footer{

background:#0d1324;

text-align:center;

padding:20px;

}


/* MOBILE RESPONSIVE */

@media(max-width:768px){

.hero-container{

flex-direction:column;
text-align:center;

}

.hero-image{

margin-top:30px;

}

.hero-text h1{

font-size:35px;

}

}